html, body, header, main {
    margin: 0;
    padding: 0;
}


footer {
    border-top: 1px solid #ecf0f3;
    background-color: #f6f8fa;
    color: rgb(22, 22, 22);
    text-align: center;
    padding: 0;
    margin: 0;
}

#top_nav {
    border-bottom: 1px solid #ecf0f3;
}

#top_nav_ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    background-color: #f6f8fa;
}

.li_l {
    float: left;
}
.li_r {
    float: right;
}


#top_nav a {
    display: block; 
    color: rgb(22, 22, 22); 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none;
}
