<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='imgs/favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>蓝星孤屿</title>
    </head>
    <body>
        <header>
            <nav id="top_nav">
                <ul id="top_nav_ul">
                    <div id="top_nav_ul_l"><li class="li_l"><a href="{{ url_for('index') }}" >蓝星孤屿</a></li></div>
                    <div id="top_nav_ul_c"><input id="top_nav_search" type="text" placeholder="搜索"></div>
                    <div id="top_nav_ul_r">
                        <div class="{% if current_page == 'tag' %}li_r_box{% endif %}"><li class="li_r"><a href="{{ url_for('tag') }}" >标签</a></li></div>
                        <div class="{% if current_page == 'note' %}li_r_box{% endif %}"><li class="li_r"><a href="{{ url_for('note') }}" >小记</a></li></div>
                        <div class="{% if current_page == 'friend' %}li_r_box{% endif %}"><li class="li_r"><a href="{{ url_for('friend') }}" >友链</a></li></div>
                        <div class="{% if current_page == 'about' %}li_r_box{% endif %}"><li class="li_r"><a href="{{ url_for('about') }}" >关于</a></li></div>
                    </div>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
            <button id="back_top">↑</button>
        </main>
        <footer>
            <p style="margin: 0; padding: 0;">
                &copy; 2025 蓝星
            </p>
            <p style="margin: 0; padding: 0;">
                欢迎来到我的小天地，希望您喜欢这里的分享！
            </p>
        </footer>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>